.date-picker--container {
  position: relative;
  flex: 1 0 0;
  margin: 12px 0;
  border-radius: 100px;
}

.date-picker--button {
  background-color: var(--neutral-000, #fff);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  height: 72px;
  padding: 12px;
  border-radius: 100px;
}

.date-picker--button:hover {
  background: rgba(245, 247, 247, 0.5);
}

.date-picker--button[aria-expanded='true'] .chevron-icon {
  transform: rotate(180deg);
}

.icon-container__date-picker {
  background: var(--avocado-200, #ECF1E0);
}

.date-picker--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.date-picker--text span {
  color: var(--neutral-500, #A7AAAB);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.rdp {
  position: absolute;
  background-color: var(--neutral-000, #fff);
  z-index: 100;
  border-radius: 24px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  padding: 2rem 1rem;
}

.rdp-caption {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1.5rem;
}

.rdp-caption_label {
  position: absolute;
  font-size: 1rem;
}

.rdp-nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rdp-nav_button {
  height: 1.5rem;
  width: 1.5rem;
}

.rdp-head_cell {
  color: var(--neutral-500, #A7AAAB);
  font-weight: 400;
}

.rdp-day {
  padding: 11px 16px 11px 17px;
  flex: 1 0 0;
  align-self: stretch;
  color: var(--neutral-900, #05090D);
  font-size: 14px;
}

.rdp-day_selected {
  background-color: var(--ivy-300, #B3CEC9);
  color: var(--brand-green-500, #025B4B);
  font-weight: 500;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected),
.rdp-day_selected:hover {
  background-color: var(--neutral-100, #F5F7F7);
}

.rdp-day_selected:hover {
  color: var(--neutral-900, #05090D);
}

@media screen and (max-width: 680px) {
  .date-picker--container {
    display: flex;
    align-self: stretch;
  }

  .date-picker--button {
    height: 42px;
  }

  .rdp {
    top: 42px;
  }
}
